body{
  margin:0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

form {
  display:grid;
  grid-template-columns: repeat(2, 1fr)
}

input {
  width:100px;
  display:block;
}
